
body {
    font-family: 'Raleway', sans-serif;
    text-align: center;
    background-color: #dad0cd;
    margin: 0;
    padding: 0;
}

.form-container {
    max-width: 300px;
    margin: 50px auto;
    background: #fbde8f;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.logo {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}
#logo {
    width: 250px;
    height: auto;
    margin-bottom: 20px;
}

.links {
    margin-bottom: 30px;
}

.links a {
    margin: 0 10px;
    text-decoration: none;
    color: #f9dc8e;
    font-size: 15px;
}

.links a:hover {
    text-decoration: underline;
}

h1 {
    font-size: 20px;
    margin-bottom: 20px;
}

input[type="email"] {
    width: calc(70% - 20px);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    background-color: #2b5463;
    color: #fbde8f;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;

}

button:hover {
    background-color: #dcc7aa;
    color: #2b5463;
    transform: translateY(-5px);
    border: 0.5px solid #2b5463;
    box-shadow: 0 4px 10px rgb(43, 84, 99);
}
