/* General Styles */
.highscore body {
    font-family: 'Raleway', sans-serif;
    background-color: #f9f9f9;
    color: #2b5463;
    margin: 0;
    padding: 20px;
}

/* Header Styles */
.highscore h1 {
    text-align: center;
    color: #6b7a8f;
    margin-bottom: 20px;
}

/* Table Styles */
.highscore table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px auto;
    background-color: #dcd2cf;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    max-width: 900px;
}

.highscore thead {
    background-color: #2b5463;
    color: #fbde8f;
}

.highscore thead th {
    padding: 15px;
    text-align: left;
    font-size: 16px;
}

.highscore tbody tr {
    border-bottom: 1px solid rgba(221, 221, 221, 0.13);
}

.highscore tbody tr:nth-child(even) {
    background-color: #fbde8f;
}

.highscore tbody tr:hover {
    background-color: rgba(241, 241, 241, 0.72);
}

.highscore tbody td {
    padding: 12px 15px;
    font-size: 14px;
    text-align: left;
}

.highscore tbody td:nth-child(1) {
    font-weight: bold;
    text-align: center;
}

/* Responsive Design */
@media screen and (max-width: 768px) {
    .highscore table {
        width: 100%;
        font-size: 14px;
    }

    .highscore thead th, .highscore tbody td {
        padding: 10px;
    }
}
