.topic-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.topic-header {
    text-align: center;
}

.topic-image {
    width: 150px;
    height: auto;
    margin-bottom: 5px;
    margin-top: 40px
}

.topic-name {
    color: #cd442d;
    font-size: 24px;
    font-weight: bold;
    margin-bottom : 20px;
}

.options-container {
    width: 100%;
    max-width: 400px;
    margin: 20px 0;
}

.options-container h3 {
    margin-bottom: 10px;
}

form label {
    display: block;
    margin-bottom: 5px;
    margin-top: 5px;
}

form select, form button {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.options-page button {
    background-color: rgb(29, 62, 71) !important;
    color: #fdfdfd;
    font-weight: bold;
    cursor: pointer;
}

.options-page button:hover {
    background-color: rgba(253, 222, 148, 0.59);

}