
html, body {
    height: 100%;
    font-family: 'Raleway', sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: #dcd2cf;
    color: #2b5463;
}

.container {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding: 20px 0;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #6b7a8f;
    color: #6b7a8f;
    padding: 10px 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
header #logo {
    width: 100px;
}

header .user-actions {
    display: flex;
    align-items: center;
    gap: 15px;
}

header #username {
    font-size: 17px;
    color: #2b5463;
}

header button {
    background-color: #fbde8f;
    color: rgb(43, 84, 99);
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
    font-size: 12px;
}

header button:hover {
    background-color: #dcd2cf;
}

main {
    flex: 1;
    padding: 24px;
}

main h1 {
    font-size: 30px;
    margin-bottom: 10px;
    color: #6b7a8f;
}

main h2 {
    font-size: 22px;
    margin-top: 40px;
    color: #6b7a8f;
}

main #main-logo {
    width: 200px;
    margin: 20px auto;
    display: block;
}

.category-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    grid-template-rows: repeat(4, auto);
    gap: 20px;
    margin-top: 30px;
    padding: 0 10px;
    align-items: stretch;
}

.category {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 15px;
}

.category-box img {
    width: 60px;
    height: 60px;
    margin-bottom: 10px;
}

@media (min-width: 768px) {
    .category-grid {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (min-width: 1024px) {
    .category-grid {
        grid-template-columns: repeat(6, 1fr);
    }
}

.category-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #fbde8f;
    padding: 10px;
    border-radius: 8px;
    text-align: center;
    font-size: 0.9em;
    font-weight: bold;
    transition: transform 0.2s ease, background-color 0.3s ease;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.category-box:hover {
    transform: scale(1.05);
    background-color: #dcd2cf;
    border: 0.5px solid #2b5463;
    box-shadow: 0 4px 10px rgb(43, 84, 99);
}



.category-grid a {
    text-decoration: none;
    color: inherit;
}

footer {
    background-color: #6b7a8f;
    color: white;
    padding: 5px 0;
    margin-top: 30px;
    text-align: center;
}

footer a {
    color: #2b5463;
    margin: 0 10px;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s ease;
}

footer a:hover {
    color: #dcd2cf;
}

@media (max-width: 768px) {
    .container {
        width: 90%;
    }

    main h1 {
        font-size: 24px;
    }

    main h2 {
        font-size: 20px;
    }

    header button {
        font-size: 14px;
    }
}