{% extends 'base.html' %}

{% block title %}Welcome - Know_It_All{% endblock %}

{% block content %}
    <div class="container">
        <section>
            <h2>About Us</h2>
Welcome to Know_It_All! 🎮✨ <br>
This is our <strong>first-ever team project</strong>, and we couldn’t be prouder! 🥳 <br>
Meet the creators: <strong>Tõnis, Victoria, Rauno, and Sirli</strong>—four passionate individuals who teamed up to bring you a trivia game like no other. 🎯 <br>
<br>
Our mission is to combine <strong>brains, fun, and a hint of competition</strong> into an experience that keeps you guessing and coming back for more! <br>
<br>
So grab a snack, get comfy, and let’s see if you’ve got what it takes to ace this trivia showdown. 🎲 Ready? Let the games begin! 🏆✨

        </section>
    </div>
{% endblock %}
