{% extends 'base.html' %}

{% block title %}Welcome - Know_It_All{% endblock %}

{% block content %}
    <div class="container">
        <section>
            <h2>About Us</h2>
            <p>Know_It_All is our first collaborative project as a team.
                Tõnis, Victoria, Rauno and Sirli worked together to develop this trivia game,
                combining our skills and enthusiasm to create an engaging experience.
                We are excited to present the result of our work and hope you have fun!</p>

        </section>
    </div>
{% endblock %}