<!DOCTYPE html>
<html lang='en'>
<head>
    {% load static %}
    <title>{% block title %}Know_It_All{% endblock %}</title>
    <link rel='stylesheet' href="{% static 'css/styles.css' %}">
    <link rel='icon' type='image/x-icon' href="{% static 'favicon.ico' %}">
</head>
<body>

{% if show_header != False %}
<header>
    <a href="{% url 'index' %}">
        <img src='/static/logo1.png' alt='Trivia Game Logo' id='logo'>
    </a>
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li class="{{ message.tags }}">{{ message }}</li>
            {% endfor %}
        </ul>
{% endif %}
    <div class='user-actions'>
        {% if user.is_authenticated %}
            <span id='username'>Welcome, {{ user.username }}</span>
            <form method='post' action="{% url 'logout' %}" style='display: inline;'>
                {% csrf_token %}
                <button type='submit' id='logout-button'>Logout</button>
            </form>
        {% else %}
            <form method='post' action="{% url 'login' %}" style='display: inline;'>
                {% csrf_token %}
                <button type='submit' id='login-button'>Login</button>
            </form>
        {% endif %}
    </div>
</header>
{% endif %}

<main>
    {% block content %}
    {% endblock %}
</main>

{% if show_footer != False %}
<footer>
    <div class='container'>
        <a href="{% url 'about' %}">About</a>
        <a href="{% url 'contact' %}">Contact</a>
        <a href="{% url 'privacy' %}">Privacy</a>
    </div>
</footer>
{% endif %}

</body>
</html>