<!DOCTYPE html>
<html lang='en'>

<head>
    {% load static %}
    <meta charset='UTF-8'>
    <title>{% block title %}Know_It_All{% endblock %}</title>
    <link href='https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Raleway:wght@400;700&display=swap' rel='stylesheet'>
    <link rel='stylesheet' href='{% static 'css/styles.css' %}'>
    <link rel='icon' type='image/x-icon' href='{% static 'favicon.ico' %}'>
</head>
<body>

{% if show_header != False %}
<header>
    <a href='{% url 'index' %}'>
        <img src='/static/logo1.png' alt='Trivia Game Logo' id='logo'>
    </a>

    <div class='user-actions'>
        {% if user.is_authenticated %}
            <span id='username'>Welcome, {{ user.username }}</span>

            <!-- Dropdown Menu -->
            <div class="dropdown">
                <button class="dropdown-btn">Menu</button>
                <div class="dropdown-content">
                    <a href="{% url 'high_score' %}">My Best Results</a>
                    <a href="{% url 'leaderboard' %}">Leaderboard</a>
                    <a href="{% url 'index' %}">Back to Homepage</a>
                    <!-- Logout button inside the dropdown -->
                    <form method='post' action="{% url 'logout' %}">
                        {% csrf_token %}
                        <button type='submit' id='logout-button' class="dropdown-item">Logout</button>
                    </form>
                </div>
            </div>
        {% else %}
            <form method='post' action='{% url 'login' %}'>
                {% csrf_token %}
                <button type='submit' id='login-button'>Login</button>
            </form>
        {% endif %}
    </div>
</header>

{% endif %}
{% if messages %}
        <ul class='messages'>
            {% for message in messages %}
                <li class='{{ message.tags }}'>{{ message }}</li>
            {% endfor %}
        </ul>
{% endif %}
<main>
    {% block content %}
    {% endblock %}
</main>

{% if show_footer != False %}
<footer>
    <div class='container'>
        <a href='{% url 'about' %}'>About Us</a>
        <a href='{% url 'contact' %}'>Contact</a>
        <a href='{% url 'privacy' %}'>Privacy Policy</a>
    </div>
</footer>
{% endif %}

</body>
</html>
