<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <title>{% block title %}Know_It_All{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
<header>
    <div class="container">
        <a href="{% url 'index' %}">
            <img src="/static/logo.png" alt="Trivia Game Logo" id="logo">
        </a>
        <br>
        {% if user.is_authenticated %}
            <p>Welcome, {{ user.username }}!</p>
            <form method="post" action="{% url 'logout' %}">
                {% csrf_token %}
                <button type="submit" id="logout-button">Logout</button>
            </form>
        {% else %}
            <form method="post" action="{% url 'login' %}">
                {% csrf_token %}
                <button type="submit" id="login-button">Login</button>
            </form>
        {% endif %}
    </div>
</header>

<main>
    {% block content %}
    {% endblock %}
</main>

<footer>
    <div class="container">
        <a href="{% url 'about' %}">About</a>
        <a href="{% url 'contact' %}">Contact</a>
        <a href="{% url 'privacy' %}">Privacy</a>
    </div>
</footer>
</body>
</html>