{% extends 'base.html' %}
{% load static %}

{% block title %}Welcome - Know_It_All{% endblock %}

{% block content %}
    <link rel='stylesheet' href='{% static '/css/forgot_password.css' %}'>
<body>
  <div class='form-container'>
    <img src='/static/logo1.png' alt='Trivia Game Logo' id='logo'>
    <h1>Reset Password</h1>
      <p>Forgot your password? No problem! Simply send an e-mail to knowitalltriviagame@gmail.com,
          and our team will assist you promptly.</p>
  </div>
</body>

{% endblock %}
