{% extends 'base.html' %}
{% load static %}

{% block title %}Welcome - Know_It_All{% endblock %}

{% block content %}
    <link rel='stylesheet' href='{% static '/css/forgot_password.css' %}'>
<body>
  <div class='form-container'>
    <img src='/static/logo1.png' alt='Trivia Game Logo' id='logo'>
    <h1>Reset Password</h1>
      <p>In order to get your password reset insert your email and a staff member will
      reset it for you as quickly as possible</p>
    <form method='post' action='{% url 'forgot_password' %}'>
        {% csrf_token %}
        <label>
            <input type='email' name='email' placeholder='Your email' required>
        </label>
        <br>
      <button type='submit'>Reset Password</button>
    </form>
  </div>
</body>

{% endblock %}
