{% extends 'base.html' %}
{% load static %}

{% block title %}Welcome - Know_It_All{% endblock %}

{% block content %}
<body>

<h1>Trivia Game</h1>

<div id='question-container'>
  <div class='question' data-question-index='0'> </div>

  <button id='next-button' style='display: none;'>Next Question</button>
</div>

<div id='results-container' style='display: none;'>
  <h2>Results</h2>
  <p>Your score: <span id='score'></span></p>
</div>
<div class='buttons-container' style='display: none;' id='game-buttons-container'>
    <button id='replay-button'>Replay</button>
    <a href='/' id='home-button' class='button'>Back to Home Page</a>
  </div>

<script>
    const questions = {{ questions|safe }}; // Pass data from Django context
</script>
<script src="{% static 'js/scripts.js' %}"></script>

</body>
{% endblock %}
