{% extends 'base.html' %}
{% load static %}


{% block title %}Welcome - Know_It_All{% endblock %}

{% block content %}
    <div class='container'>
        <h1>Welcome to the game</h1>
        <img src='/static/logo1.png' alt='Trivia Game Logo' id='main-logo'>

    <h2 class='headline'>
    Let's dive into fun facts <span class='highlight'> and choose the category to begin:</span><br>
    
</h2>

        <div class='category-grid'>
            {% for category_name in categories %}
                <a href='{% url 'options' category_name %}'>
                    <div class='category-box'>
                        <img src='{% static 'categories/' %}{{ category_name|lower }}.png' alt='{{ category_name }} Icon'>
                        <span>{{ category_name }}</span>
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>
{% endblock %}
