<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Know_It_All</title>
</head>

<body>
<p>SIIA TULEB LOGO</p>
<button>Login</button>
<h1>WELCOME TO</h1>
<p>SIIA TULEB LOGO</p>
<h4>Choose topic:</h4>
<p>General knowledge</p>
<p>Entertainment</p>
<p>Science</p>
<p>Mythology</p>
<p>Sports</p>
<p>Geography</p>
<p>History</p>
<p>Politics</p>
<p>Art</p>
<p>Celebrities</p>
<p>Animals</p>
<p>Vehicles</p>
<button>About</button>
<button>Contact</button>
<button>Privacy</button>
</body>
</html>