{% extends 'base.html' %}

{% block title %}Privacy Policy{% endblock %}

{% block content %}
    <div class='container'>
        <h1>Privacy Policy</h1>

        <section>
            <h2>Introduction</h2>
            <p>Welcome to Know_It_All!</p>
            <p>We value your privacy and are committed to protecting your personal information.</p>
            <p>This Privacy Policy explains how we collect, use, and protect your data when you use our website and
                services.</p>
        </section>

        <section>
            <h2>Information We Collect</h2>
            <p>Various types of data to provide a better user experience, including:</p>
            
            <p><strong>Personal Information</strong>: when you register on our site, your username,
                    email address, and password will be collected.
                </p>
                <p><strong>Usage Data:</strong> includes data on how you interact with our website, including your
                    game scores and games played.
                </p>
            
        </section>

        <section>
            <h2>How We Use Your Information</h2>
            <p>Your information is used for the following purposes:</p>

            <p>To personalize your experience on the website.</p>
            <p>To improve our services and website functionality.</p>


        </section>

        <section>
            <h2>Data Protection</h2>
            <p>We take reasonable precautions to protect your personal information.
            <p>This includes using encryption and
                secure servers to prevent unauthorized access to your data.</p>
        </section>

        <section>
            <h2>Your Rights</h2>
            <p>You have the following rights regarding your personal data:</p>

                <p>Access your data and request a copy.</p>
                <p>Request the correction of inaccurate or incomplete data.</p>
                <p>Request the deletion of your account and data.</p>

        </section>

        <section>
            <h2>Changes to This Privacy Policy</h2>
            <p>We may update this Privacy Policy from time to time.
            <p>Any changes will be posted on this page, and the updated date will be reflected at the top.</p>
        </section>

        <section>
            <h2>Contact Us</h2>
            <p>If you have any questions or concerns related to the Privacy Policy, please contact us by:</p>
            <p>E-mail: <a href='mailto:knowitalltriviagame@gmail.com'>knowitalltriviagame@gmail.com</a></p>
        </section>
    </div>
{% endblock %}
